{% extends "users/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Patient name - {{ user.username }}</h2>
          <p class="text-secondary">email address - {{ user.email }}</p>
          <p class="text-secondary">age - {{ pfile.age }}</p>
          <p class="text-secondary">gender - {{ pfile.gender }}</p>
          <p class="text-secondary">history - {{ pfile.history_of_Illness }}</p>
          <div class="form-group">
          <a class="btn btn-outline-info" href = "{% url 'patient-profile-update' pfile.id %}">Update-Profile</a>
      </div>
{% endblock content %}